@if(project){
<div class="bg-black text-white min-h-screen">
  <!-- Banner Image -->
  <div class="h-64 md:h-96 bg-cover bg-center" [ngStyle]="{'background-image': 'url(' + project.bannerImage + ')'}"></div>

  <div class="container mx-auto px-6 py-12">
    <!-- Back Button -->
    <button (click)="goBack()" class="mb-8 bg-white text-black font-bold py-2 px-4 rounded-md shadow-lg hover:bg-gray-300 hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1">
      &larr; Back to Projects
    </button>
    <!-- Project Title -->
    <h1 class="text-4xl md:text-6xl font-bold mb-4">{{ project.title }}</h1>
    
    <!-- Project Category -->
    <p class="text-lg text-gray-400 uppercase tracking-wider mb-8">{{ project.category }}</p>

    <!-- Project Description -->
    <div class="max-w-3xl mx-auto text-lg text-gray-300 leading-relaxed">
      <div [innerHTML]="project.description"></div>
    </div>
  </div>
</div>
}